{% extends 'base.html' %}
{% block content %}
<main class="main__about">
    <p>
        Hello, I'm Gabriel—a passionate individual who embarked on a journey into the world of programming back in 2015 during my high school days. It all started with a technical course in computer studies, igniting a fascination that would shape my future. Although I initially used programming to solve problems, it wasn't until after completing my energy engineering course that I realized my true passion lay in coding.
    </p>
    <p>
        In 2023, I made the pivotal decision to dive back into programming, this time focusing on web development. I delved into Python, embraced Flask as my web framework, and honed my skills in SQL, NOSQL databases, HTML, and CSS. Building fully functional websites became a thrilling pursuit. Now, as I deepen my knowledge, my goal is to secure a position where I can translate my love for programming into a fulfilling profession.
    </p>
</main>
{% endblock content %}