{% extends 'base.html' %}
{% block content %}
<main class="main__contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd>
                <a target="_blank" class="contact--link" href="mailto:dev.gchaves@gmail.com">dev.gchaves@gmail.com</a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd>
                <a target="_blank" class="contact--link" href="https://github.com/dev-gabrielchaves">@dev-gabrielchaves</a>
            </dd>
        </div>
        <div class="contact">
            <dt>Phone:</dt>
            <dd>
                <a target="_blank" class="contact--link" href="https://wa.me/5584991469755">+55 (84) 99146-9755</a>
            </dd>
        </div>
    </dl>
</main>
{% endblock content %}